NODE-RED/Estoque - Fornecedores.json
[
    {
        "id": "aa1f3433d082cc3d",
        "type": "tab",
        "label": "Estoque - Fornecedores",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9dabedc8b561f196",
        "type": "http in",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "url": "/todosfornecedores",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 50,
        "wires": [
            [
                "a8b3a2738f02ab07"
            ]
        ]
    },
    {
        "id": "06ba11bfbef5d031",
        "type": "http response",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 50,
        "wires": []
    },
    {
        "id": "3bba7d4a42e9d62f",
        "type": "debug",
        "z": "aa1f3433d082cc3d",
        "name": "debug 38",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "a8b3a2738f02ab07",
        "type": "function",
        "z": "aa1f3433d082cc3d",
        "name": "SELECT fornecedor",
        "func": "msg.topic = \"SELECT * FROM fornecedor\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 50,
        "wires": [
            [
                "aadcafe73771534b"
            ]
        ]
    },
    {
        "id": "aadcafe73771534b",
        "type": "mysql",
        "z": "aa1f3433d082cc3d",
        "mydb": "4d85104871b77efc",
        "name": "Estoque",
        "x": 540,
        "y": 50,
        "wires": [
            [
                "06ba11bfbef5d031",
                "3bba7d4a42e9d62f"
            ]
        ]
    },
    {
        "id": "91f88479f8b15d33",
        "type": "http in",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "url": "/mudarStatusFornecedor/:id/:status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 170,
        "wires": [
            [
                "b06fbb7577489393",
                "d80a2fb8f58da9fb"
            ]
        ]
    },
    {
        "id": "8b408472d56a5de2",
        "type": "http response",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 170,
        "wires": []
    },
    {
        "id": "d80a2fb8f58da9fb",
        "type": "debug",
        "z": "aa1f3433d082cc3d",
        "name": "debug 39",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 210,
        "wires": []
    },
    {
        "id": "b06fbb7577489393",
        "type": "function",
        "z": "aa1f3433d082cc3d",
        "name": "UPDATE STATUS",
        "func": "const n_fornecedor_fornecedor  = msg.req.params.id;\nconst c_status_fornecedor = msg.req.params.status;\n\nmsg.topic = `UPDATE fornecedor SET \n                c_status_fornecedor = \"${c_status_fornecedor}\" \n                WHERE n_fornecedor_fornecedor  = \"${n_fornecedor_fornecedor }\"`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 170,
        "wires": [
            [
                "468fa10e98ab0a6c",
                "d80a2fb8f58da9fb"
            ]
        ]
    },
    {
        "id": "468fa10e98ab0a6c",
        "type": "mysql",
        "z": "aa1f3433d082cc3d",
        "mydb": "4d85104871b77efc",
        "name": "Estoque",
        "x": 860,
        "y": 170,
        "wires": [
            [
                "8b408472d56a5de2",
                "d80a2fb8f58da9fb"
            ]
        ]
    },
    {
        "id": "9d39a0a339d35210",
        "type": "http in",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "url": "/novoform",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "33160dc4bdf754fd"
            ]
        ]
    },
    {
        "id": "003a0c99c6f1dc52",
        "type": "http response",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1270,
        "y": 330,
        "wires": []
    },
    {
        "id": "33160dc4bdf754fd",
        "type": "function",
        "z": "aa1f3433d082cc3d",
        "name": "INSERT fornecedor",
        "func": "msg.payload = JSON.parse(msg.payload);\n\nconst s_desc_fornecedor = msg.payload.s_desc_fornecedor;\nconst s_logo_fornecedor = msg.payload.s_logo_fornecedor;\nconst c_status_fornecedor = msg.payload.c_status_fornecedor;\n\nmsg.listaContatos = msg.payload.listaContatos;\n\nmsg.topic = `INSERT INTO fornecedor (n_fornecedor_fornecedor, s_desc_fornecedor, s_logo_fornecedor, c_status_fornecedor) \n             VALUES (NULL, \"${s_desc_fornecedor}\",\"${s_logo_fornecedor}\",\"${c_status_fornecedor}\")`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 320,
        "wires": [
            [
                "465d164d3e83bc35",
                "0163423578c45870"
            ]
        ]
    },
    {
        "id": "465d164d3e83bc35",
        "type": "mysql",
        "z": "aa1f3433d082cc3d",
        "mydb": "4d85104871b77efc",
        "name": "Estoque",
        "x": 540,
        "y": 320,
        "wires": [
            [
                "3573c43cffcf5c9c",
                "54ba3e9b93d8e423"
            ]
        ]
    },
    {
        "id": "0163423578c45870",
        "type": "debug",
        "z": "aa1f3433d082cc3d",
        "name": "debug 41",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "3573c43cffcf5c9c",
        "type": "debug",
        "z": "aa1f3433d082cc3d",
        "name": "debug 40",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "9c3d8d79ab866494",
        "type": "http in",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "url": "/dadosform/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 470,
        "wires": [
            [
                "b2be073a3842769b"
            ]
        ]
    },
    {
        "id": "c62f1d7d7e810ef7",
        "type": "http response",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 720,
        "y": 470,
        "wires": []
    },
    {
        "id": "b2be073a3842769b",
        "type": "function",
        "z": "aa1f3433d082cc3d",
        "name": "SELECT *",
        "func": "const id = msg.req.params.id;\n\nmsg.topic = `SELECT * FROM fornecedor \n             WHERE n_fornecedor_fornecedor = ${id}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 470,
        "wires": [
            [
                "79fec94039b5cb08"
            ]
        ]
    },
    {
        "id": "79fec94039b5cb08",
        "type": "mysql",
        "z": "aa1f3433d082cc3d",
        "mydb": "4d85104871b77efc",
        "name": "Estoque",
        "x": 540,
        "y": 470,
        "wires": [
            [
                "c62f1d7d7e810ef7"
            ]
        ]
    },
    {
        "id": "0acb998340f1528a",
        "type": "http in",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "url": "/editarform",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "3440165a750ced19"
            ]
        ]
    },
    {
        "id": "4048ed1cdada071c",
        "type": "http response",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 720,
        "y": 560,
        "wires": []
    },
    {
        "id": "3440165a750ced19",
        "type": "function",
        "z": "aa1f3433d082cc3d",
        "name": "UPDATE fornecedor",
        "func": "msg.payload = JSON.parse(msg.payload);\n\nconst n_fornecedor_fornecedor  = msg.payload.n_fornecedor_fornecedor ;\nconst s_desc_fornecedor = msg.payload.s_desc_fornecedor;\nconst s_logo_fornecedor = msg.payload.s_logo_fornecedor; \nconst c_status_fornecedor = msg.payload.c_status_fornecedor;\n\nmsg.topic = `UPDATE fornecedor SET \n                s_desc_fornecedor = \"${s_desc_fornecedor}\", \n                s_logo_fornecedor = \"${s_logo_fornecedor}\", \n                c_status_fornecedor = \"${c_status_fornecedor}\"  \n             WHERE n_fornecedor_fornecedor  = \"${n_fornecedor_fornecedor }\"`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 560,
        "wires": [
            [
                "4cf2043e05cc90e7"
            ]
        ]
    },
    {
        "id": "4cf2043e05cc90e7",
        "type": "mysql",
        "z": "aa1f3433d082cc3d",
        "mydb": "4d85104871b77efc",
        "name": "Estoque",
        "x": 540,
        "y": 560,
        "wires": [
            [
                "4048ed1cdada071c"
            ]
        ]
    },
    {
        "id": "b3a395ac1fa93c0d",
        "type": "http in",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "url": "/pesquisaforn/:tipo/:valor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "689d79b9e039f5e3"
            ]
        ]
    },
    {
        "id": "c61a3c5a9fae1768",
        "type": "http response",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 640,
        "wires": []
    },
    {
        "id": "689d79b9e039f5e3",
        "type": "function",
        "z": "aa1f3433d082cc3d",
        "name": "SELECT",
        "func": "const tipo = msg.req.params.tipo;\nconst valor = msg.req.params.valor;\n\nlet query = null;\n\nif(tipo == \"id\") {\n    query = `SELECT * \n             FROM fornecedor\n             WHERE n_fornecedor_fornecedor = ${valor}`;\n} else {\n    query = `SELECT * \n            FROM fornecedor \n             WHERE s_desc_fornecedor LIKE \"%${valor}%\"`;\n}\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 640,
        "wires": [
            [
                "25cb41b1064811e9",
                "c2c214e97137e9bb"
            ]
        ]
    },
    {
        "id": "25cb41b1064811e9",
        "type": "mysql",
        "z": "aa1f3433d082cc3d",
        "mydb": "4d85104871b77efc",
        "name": "Estoque",
        "x": 860,
        "y": 640,
        "wires": [
            [
                "c61a3c5a9fae1768",
                "c2c214e97137e9bb"
            ]
        ]
    },
    {
        "id": "c2c214e97137e9bb",
        "type": "debug",
        "z": "aa1f3433d082cc3d",
        "name": "debug 42",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 680,
        "wires": []
    },
    {
        "id": "1d17615b45038772",
        "type": "http in",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "url": "/todasPessoasForn",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 730,
        "wires": [
            [
                "fa7fb0fe47e32005"
            ]
        ]
    },
    {
        "id": "0d4533f315c7412d",
        "type": "http response",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 740,
        "wires": []
    },
    {
        "id": "37e5e50d3b147f05",
        "type": "debug",
        "z": "aa1f3433d082cc3d",
        "name": "debug 43",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 780,
        "wires": []
    },
    {
        "id": "fa7fb0fe47e32005",
        "type": "function",
        "z": "aa1f3433d082cc3d",
        "name": "SELECT pessoa",
        "func": "msg.topic = \"SELECT n_pessoa_pessoa, s_nome_pessoa FROM pessoa WHERE n_tipopessoa_tipopessoa = 2 and c_status_pessoa='A'\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 730,
        "wires": [
            [
                "ed8a77b3d6804156"
            ]
        ]
    },
    {
        "id": "ed8a77b3d6804156",
        "type": "mysql",
        "z": "aa1f3433d082cc3d",
        "mydb": "4d85104871b77efc",
        "name": "Estoque",
        "x": 860,
        "y": 730,
        "wires": [
            [
                "0d4533f315c7412d",
                "37e5e50d3b147f05"
            ]
        ]
    },
    {
        "id": "a6c1334b51798acb",
        "type": "http in",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "url": "/retornaTelefones/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 830,
        "wires": [
            [
                "7eb6e6a276e79286"
            ]
        ]
    },
    {
        "id": "1d8a91781521fb71",
        "type": "http response",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 830,
        "wires": []
    },
    {
        "id": "fdfd48ff48024d8a",
        "type": "debug",
        "z": "aa1f3433d082cc3d",
        "name": "debug 44",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 880,
        "wires": []
    },
    {
        "id": "7eb6e6a276e79286",
        "type": "function",
        "z": "aa1f3433d082cc3d",
        "name": "SELECT fornecedor",
        "func": "const id = msg.req.params.id;\n\nmsg.topic = `SELECT * FROM telefone \n             WHERE n_pessoa_pessoa = ${id}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 830,
        "wires": [
            [
                "a117b73a519c2d0e"
            ]
        ]
    },
    {
        "id": "a117b73a519c2d0e",
        "type": "mysql",
        "z": "aa1f3433d082cc3d",
        "mydb": "4d85104871b77efc",
        "name": "Estoque",
        "x": 540,
        "y": 830,
        "wires": [
            [
                "1d8a91781521fb71",
                "fdfd48ff48024d8a"
            ]
        ]
    },
    {
        "id": "4e9aedcc06c26918",
        "type": "http in",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "url": "/addContatoFornecedor/:idcont/:idforn",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 930,
        "wires": [
            [
                "8458e98e8d608543"
            ]
        ]
    },
    {
        "id": "b6aab4caace1974d",
        "type": "http response",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 930,
        "wires": []
    },
    {
        "id": "8458e98e8d608543",
        "type": "function",
        "z": "aa1f3433d082cc3d",
        "name": "SELECT *",
        "func": "const id = msg.req.params.id;\n\nmsg.topic = `SELECT * FROM fornecedor \n             WHERE n_fornecedor_fornecedor = ${id}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 930,
        "wires": [
            [
                "23c251fe7d723f46"
            ]
        ]
    },
    {
        "id": "23c251fe7d723f46",
        "type": "mysql",
        "z": "aa1f3433d082cc3d",
        "mydb": "4d85104871b77efc",
        "name": "Estoque",
        "x": 860,
        "y": 930,
        "wires": [
            [
                "b6aab4caace1974d"
            ]
        ]
    },
    {
        "id": "54ba3e9b93d8e423",
        "type": "switch",
        "z": "aa1f3433d082cc3d",
        "name": "",
        "property": "listaContatos",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 320,
        "wires": [
            [
                "4b19a3d7ac6b32e1"
            ],
            [
                "003a0c99c6f1dc52"
            ]
        ]
    },
    {
        "id": "4b19a3d7ac6b32e1",
        "type": "function",
        "z": "aa1f3433d082cc3d",
        "name": "INSERT contatofornecedor",
        "func": "let n_fornecedor_fornecedor = msg.payload.insertId;\nlet listaContatos = msg.listaContatos;\n\nlet listaContatos_montado = \"\";\n\nlistaContatos.forEach(co=>{\n    listaContatos_montado += `,(NULL, ${n_fornecedor_fornecedor},\"${co}\")`;\n});\n\nlistaContatos_montado = listaContatos_montado.substring(1);\n\n//numtelefones_montado = `(NULL, 16,\"111111111\"),(NULL, 16,\"222222222\")`;\n\nmsg.topic = `INSERT INTO contatofornecedor (n_Contatofornecedor_Contatofornecedor, n_fornecedor_fornecedor, n_pessoa_pessoa ) \n            VALUES ${listaContatos_montado}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 290,
        "wires": [
            [
                "c9cb09785468aa40"
            ]
        ]
    },
    {
        "id": "c9cb09785468aa40",
        "type": "mysql",
        "z": "aa1f3433d082cc3d",
        "mydb": "4d85104871b77efc",
        "name": "Estoque",
        "x": 1120,
        "y": 290,
        "wires": [
            [
                "003a0c99c6f1dc52"
            ]
        ]
    },
    {
        "id": "4d85104871b77efc",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "Estoque",
        "tz": "",
        "charset": "UTF8"
    }
]